.reviewContainer {
  width: 100%;
  height: 500px;
  color: #000;
  position: relative;
  text-align: center;
  padding: 0;
  background-size: 100%;
  background-image: linear-gradient(180deg, #fff, #f8f1f1, #f8f1f1, #fff);
  padding-top: 100px;
  z-index: -1;

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #393e46;
  }
  .featureContainer {
    opacity: 0.6;
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: -5rem;
    margin-bottom: 15px;
    & .img {
      text-align: center;
    }
  }
}
