.footerContainer {
  padding: 5px;
  background-color: #ffba93;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  box-shadow: inset 0 10px 5px -12px #111;
  color: #03506f;
  z-index: 5;
  margin-top: 6rem;
  span {
    margin: 0 10px 0 10px;
    background: linear-gradient(to right, #000000, #000000 50%, #03506f 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    &:hover {
      background-position: 0 100%;
      cursor: default;
    }
  }
}
